@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Kumbh+Sans:wght@100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --font-family: "Heebo", "sans-serif";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}


ul[role='list'],
ol[role='list'] {
  list-style: none;
}


html:focus-within {
  scroll-behavior: smooth;
}


body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: linear-gradient(to left, #1f1f1e,#140d07);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.right-h a {
    display: flex;
    text-decoration: none;
    color: rgb(237, 115, 22);
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
}

.rigth-h {
  display: flex;
  justify-content: flex-end;
}

.left-h {
  display: flex;
}


.img-header {
  height: 50px;
  margin-left: 2.5em;
}

hr {
    border: 1px solid rgb(132, 79, 25);
    width: 90vw;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: .5em;
    cursor: pointer;
}